.wrapper {
  background-color: grey;
  height: 20vh;
}
.containerContent {
  display: flex;
  justify-content: space-around;
  height: 10em;
}
.socialMediaWrapper {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

@media only screen and (max-width: 980px) {
  .wrapper {
    height: 60vh;
  }
  .containerContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
  }
}
